<div id="<%= dom_id maintenance_item %>">
  <p>
    <strong>Item name:</strong>
    <%= maintenance_item.item_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= maintenance_item.description %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= maintenance_item.total_amount %>
  </p>

  <p>
    <strong>Available amount:</strong>
    <%= maintenance_item.available_amount %>
  </p>

</div>
