<div class="container">
  <h1>Inventory</h1>
  <%# Testing google oauth %>
  <div class="alert alert-info" role="alert">
    <p>You're logged in! Welcome to the Item Dashboard!</p>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
  </div>

  <div class="mb-3">
    <%= link_to "Add Item", new_item_path, class: "btn btn-primary" %>
    <%= link_to "View Member Items", member_items_path, class: "btn btn-secondary" %>
    <%= link_to 'Export Items', items_export_path, class: "btn btn-info" %>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 mb-4">
        <%= render item %>
      </div>
    <% end %>
  </div>

  <%= form_tag import_items_path, multipart: true, class: "mt-3" do %>
    <div class="mb-3">
      <%= file_field_tag :file, class: "form-control" %>
    </div>
    <%= submit_tag "Import", class: "btn btn-success" %>
  <% end %>
</div>
