<div class="container mt-4">
  <h1 class="mb-4">Inventory</h1>

  <%# Testing google oauth %>
  <div class="alert alert-info mb-4" role="alert">
    <p>You're logged in! Welcome to the Item Dashboard!</p>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
  </div>

  <div class="d-flex mb-4">
    <%= link_to "Add Item", new_item_path, class: "btn btn-primary me-2" %>
    <%= link_to "View Member Items", member_items_path, class: "btn btn-secondary" %>
  </div>

  <%= form_tag import_items_path, multipart: true, class: "mb-4" do %>
    <div class="mb-3">
      <%= file_field_tag :file, class: "form-control" %>
    </div>
    <%= submit_tag "Import", class: "btn btn-success me-2" %>
    <%= link_to 'Export Items', items_export_path, class: "btn btn-info" %>
  <% end %>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 mb-4">
        <%= render item %>
      </div>
    <% end %>
  </div>
</div>
