<!-- member_items.html.erb -->
<div class="container mt-4">
  <h1 class="mb-4">Inventory</h1>

  <div id="loggedInAlert" class="alert alert-info mb-4" role="alert">
    <p>You're logged in!</p>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-warning text-white" %>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <%= item.name %>
          </div>
          <div class="card-body text-center">
            <% if item.image.attached? %>
              <%= image_tag item.image, class: "img-fluid mx-auto d-block" %>
            <% else %>
              <%= image_tag "placeholderRadio.png", size: "25x", class: "mx-auto d-block" %>
            <% end %>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to "Show", item, class: "btn btn-primary btn-sm" %>
          <%= link_to 'Checkout', checkout_item_path(item), method: :put, class: "btn btn-success btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
